site_name: "Hopsworks Documentation"
site_description: "Official documentation for Hopsworks and its Feature Store - an open source data-intensive AI platform used for the development and operation of machine learning models at scale."
site_author: "Logical Clocks"
site_url: "https://docs.hopsworks.ai/hopsworks-api/latest"

# Repository
edit_uri: "https://github.com/logicalclocks/hopsworks-api"

nav:
  - Login: login.md
  - Platform API:
    - Alerts: alerts.md
    - Datasets: datasets.md
    - Environment: environment.md
    - Executions: executions.md
    - FlinkCluster: flink_cluster.md
    - GitProvider: git_provider.md
    - GitRemote: git_remote.md
    - GitRepo: git_repo.md
    - Jobs: jobs.md
    - KafkaSchema: kafka_schema.md
    - KafkaTopic: kafka_topic.md
    - OpenSearch: opensearch.md
    - Projects: projects.md
    - Secrets: secrets.md
    - Search: search.md
  - Feature Store API:
    - Embedding:
      - EmbeddingFeature: embedding_feature_api.md
      - EmbeddingIndex: embedding_index_api.md
      - SimilarityFunctionType: similarity_function_type_api.md
    - ExpectationSuite: expectation_suite_api.md
    - ExternalFeatureGroup: external_feature_group_api.md
    - Feature: feature_api.md
    - Feature Monitoring:
      - Configuration: feature_monitoring_config_api.md
      - Result: feature_monitoring_result_api.md
      - Window: feature_monitoring_window_config_api.md
    - FeatureGroup: feature_group_api.md
    - FeatureStore: feature_store_api.md
    - FeatureView: feature_view_api.md
    - Provenance Links: links.md
    - Query: query_api.md
    - SpineGroup: spine_group_api.md
    - Statistics:
      - Feature descriptive statistics: feature_descriptive_statistics_api.md
      - Split Statistics: split_statistics_api.md
      - Statistics: statistics_api.md
    - Storage Connector: storage_connector_api.md
    - TrainingDataset: training_dataset_api.md
    - Transformation Functions:
      - HopsworksUDF: hopsworks_udf.md
      - Transformation Statistics:
        - FeatureTransformationStatistics: feature_transformation_statistics.md
        - TransformationStatistics: transformation_statistics.md
      - TransformationFunction: transformation_functions_api.md
      - UDF: udf.md
    - ValidationReport: validation_report_api.md
    - Online Ingestion: online_ingestion.md
    - Online Ingestion Result: online_ingestion_result.md
  - Machine Learning API:
    - Model Registry:
      - Model: model-registry/model_api.md
      - Model Registry: model-registry/model_registry_api.md
      - Model Schema: model-registry/model_schema_api.md
    - Model Serving:
      - Deployment: model-serving/deployment_api.md
      - Deployment state: model-serving/predictor_state_api.md
      - Deployment state condition: model-serving/predictor_state_condition_api.md
      - Inference Batcher: model-serving/inference_batcher_api.md
      - Inference Logger: model-serving/inference_logger_api.md
      - Model Serving: model-serving/model_serving_api.md
      - Predictor: model-serving/predictor_api.md
      - Resources: model-serving/resources_api.md
      - Transformer: model-serving/transformer_api.md
  # Added to allow navigation using the side drawer
  - Feature Store JavaDoc: https://docs.hopsworks.ai/feature-store-javadoc/latest/
  - Contributing: CONTRIBUTING.md

theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/images/favicon.ico
  logo: assets/images/hops-logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: "Roboto"
    code: "IBM Plex Mono"
  palette:
    accent: teal
    scheme: hopsworks
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes


extra:
  analytics:
    provider: google
    property: G-64FEEXPSDN
  generator: false
  version:
    - provider: mike
    - default: latest
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hopsworks
    - icon: fontawesome/brands/github
      link: https://github.com/logicalclocks/hopsworks
    - icon: fontawesome/brands/discourse
      link: https://community.hopsworks.ai/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/hopsworks/

extra_css:
  - css/custom.css
  - css/version-select.css
  - css/dropdown.css
  - css/marctech.css

extra_javascript:
  - js/version-select.js
  - js/inject-api-links.js
  - js/dropdown.js

plugins:
  - search
  - minify:
        minify_html: true
        minify_css: true
        minify_js: true
  - mike:
        canonical_version: latest

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - attr_list
  - md_in_html
  - toc:
      permalink: "#"
  - pymdownx.tasklist:
      custom_checkbox: true
  - markdown_include.include:
      base_path: docs
