site_name: "Hopsworks Documentation"
site_description: "Official documentation for Hopsworks and its Feature Store - an open source data-intensive AI platform used for the development and operation of machine learning models at scale."
site_author: "Hopsworks"
site_url: "https://docs.hopsworks.ai/"

# Repository
edit_uri: "https://github.com/logicalclocks/hopsworks-api"

nav:
  - Login: login.md
  - Platform API:
    - Alerts: alerts.md
    - Datasets: datasets.md
    - Environment: environment.md
    - Executions: executions.md
    - FlinkCluster: flink_cluster.md
    - GitProvider: git_provider.md
    - GitRemote: git_remote.md
    - GitRepo: git_repo.md
    - Jobs: jobs.md
    - KafkaSchema: kafka_schema.md
    - KafkaTopic: kafka_topic.md
    - OpenSearch: opensearch.md
    - Projects: projects.md
    - Secrets: secrets.md
    - Search: search.md
  - Feature Store API:
    - Embedding:
      - EmbeddingFeature: embedding_feature_api.md
      - EmbeddingIndex: embedding_index_api.md
      - SimilarityFunctionType: similarity_function_type_api.md
    - ExpectationSuite: expectation_suite_api.md
    - ExternalFeatureGroup: external_feature_group_api.md
    - Feature: feature_api.md
    - Feature Monitoring:
      - Configuration: feature_monitoring_config_api.md
      - Result: feature_monitoring_result_api.md
      - Window: feature_monitoring_window_config_api.md
    - FeatureGroup: feature_group_api.md
    - FeatureStore: feature_store_api.md
    - FeatureView: feature_view_api.md
    - Provenance Links: links.md
    - Query: query_api.md
    - SpineGroup: spine_group_api.md
    - Statistics:
      - Feature descriptive statistics: feature_descriptive_statistics_api.md
      - Split Statistics: split_statistics_api.md
      - Statistics: statistics_api.md
      - Statistics Configuration: statistics_config_api.md
    - Storage Connector: storage_connector_api.md
    - TrainingDataset: training_dataset_api.md
    - Transformation Functions:
      - transformation_functions/index.md
      - HopsworksUDF: hopsworks_udf.md
      - Transformation Statistics:
        - FeatureTransformationStatistics: feature_transformation_statistics.md
        - TransformationStatistics: transformation_statistics.md
      - TransformationFunction: transformation_functions_api.md
      - UDF: udf.md
      - Built-in Transformations: builtin_transformations.md
    - ValidationReport: validation_report_api.md
    - Online Ingestion: online_ingestion.md
    - Online Ingestion Result: online_ingestion_result.md
  - Machine Learning API:
    - Model Registry:
      - Model: model_api.md
      - Model Registry: model_registry_api.md
      - Model Schema: model_schema_api.md
      - Provenance Links: model_links.md
    - Model Serving:
      - Deployment: deployment_api.md
      - Deployment state: predictor_state_api.md
      - Deployment state condition: predictor_state_condition_api.md
      - Inference Batcher: inference_batcher_api.md
      - Inference Logger: inference_logger_api.md
      - Model Serving: model_serving_api.md
      - Predictor: predictor_api.md
      - Resources: resources_api.md
      - Transformer: transformer_api.md
  - Contributing: CONTRIBUTING.md

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  font:
    text: "Roboto"
    code: "IBM Plex Mono"
  palette:
    - scheme: hopsworks
      media: "(prefers-color-scheme: light)"
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: hopsworks
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes

extra:
  version:
    provider: mike
    default: latest
  generator: false
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hopsworks
    - icon: fontawesome/brands/github
      link: https://github.com/logicalclocks/hopsworks
    - icon: fontawesome/brands/discourse
      link: https://community.hopsworks.ai/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/hopsworks/
    - icon: fontawesome/brands/slack
      link: https://bit.ly/publichopsworks
  analytics:
    provider: google
    property: G-64FEEXPSDN

extra_css:
  - css/custom.css
  - css/marctech.css

extra_javascript:
  - js/quickstart-fullscreen.js

plugins:
  - search
  - minify:
      minify_html: true
      minify_css: true
      minify_js: true
  - mike:
      canonical_version: latest
  - multirepo
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            separate_signature: true
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_source: false
            link_source: true
            docstring_section_style: spacy
            annotations_path: source
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://pandas.pydata.org/docs/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://docs.python-requests.org/en/latest/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv
            - https://fastapi.tiangolo.com/objects.inv
            - https://scikit-learn.org/stable/objects.inv
            - https://docs.pola.rs/api/python/stable/objects.inv

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - attr_list
  - md_in_html
  - def_list
  - toc:
      permalink: "#"
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
