site_name: "Hopsworks Documentation"
site_description: "Official documentation for Hopsworks and its Feature Store - an open source data-intensive AI platform used for the development and operation of machine learning models at scale."
site_author: "Logical Clocks"
site_url: "https://docs.hopsworks.ai/hopsworks-api/latest"

# Repository
edit_uri: ""

nav:
  - Home: https://docs.hopsworks.ai/
  - Getting Started ↗: https://docs.hopsworks.ai/
  - Tutorials: https://docs.hopsworks.ai/
  - Concepts: https://docs.hopsworks.ai/
  - Guides: https://docs.hopsworks.ai/
  - Setup and Administration: https://docs.hopsworks.ai/
  - API<div class="dropdown"><button class="dropbtn"> API </button> <div id="myDropdown" class="dropdown-content"> <a id="hopsworks_api_link" href="https://docs.hopsworks.ai/hopsworks-api/latest">Hopsworks API</a> <a id="hsfs_javadoc_link" href="https://docs.hopsworks.ai/hopsworks-api/latest/javadoc">Feature Store JavaDoc</a> </div></div>:
    - Login: generated/api/login.md
    - Platform API:
      - Alerts: generated/api/alerts.md
      - Datasets: generated/api/datasets.md
      - Environment: generated/api/environment.md
      - Executions: generated/api/executions.md
      - FlinkCluster: generated/api/flink_cluster.md
      - GitProvider: generated/api/git_provider.md
      - GitRemote: generated/api/git_remote.md
      - GitRepo: generated/api/git_repo.md
      - Jobs: generated/api/jobs.md
      - KafkaSchema: generated/api/kafka_schema.md
      - KafkaTopic: generated/api/kafka_topic.md
      - OpenSearch: generated/api/opensearch.md
      - Projects: generated/api/projects.md
      - Secrets: generated/api/secrets.md
      - Search: generated/api/search.md
    - Feature Store API:
      - Embedding:
        - EmbeddingFeature: generated/api/embedding_feature_api.md
        - EmbeddingIndex: generated/api/embedding_index_api.md
        - SimilarityFunctionType: generated/api/similarity_function_type_api.md
      - ExpectationSuite: generated/api/expectation_suite_api.md
      - ExternalFeatureGroup: generated/api/external_feature_group_api.md
      - Feature: generated/api/feature_api.md
      - Feature Monitoring:
        - Configuration: generated/api/feature_monitoring_config_api.md
        - Result: generated/api/feature_monitoring_result_api.md
        - Window: generated/api/feature_monitoring_window_config_api.md
      - FeatureGroup: generated/api/feature_group_api.md
      - FeatureStore: generated/api/feature_store_api.md
      - FeatureView: generated/api/feature_view_api.md
      - Provenance Links: generated/api/links.md
      - Query: generated/api/query_api.md
      - SpineGroup: generated/api/spine_group_api.md
      - Statistics:
        - Feature descriptive statistics: generated/api/feature_descriptive_statistics_api.md
        - Split Statistics: generated/api/split_statistics_api.md
        - Statistics: generated/api/statistics_api.md
      - Storage Connector: generated/api/storage_connector_api.md
      - TrainingDataset: generated/api/training_dataset_api.md
      - Transformation Functions:
        - HopsworksUDF: generated/api/hopsworks_udf.md
        - Transformation Statistics:
          - FeatureTransformationStatistics: generated/api/feature_transformation_statistics.md
          - TransformationStatistics: generated/api/transformation_statistics.md
        - TransformationFunction: generated/api/transformation_functions_api.md
        - UDF: generated/api/udf.md
      - ValidationReport: generated/api/validation_report_api.md
      - Online Ingestion: generated/api/online_ingestion.md
      - Online Ingestion Result: generated/api/online_ingestion_result.md
    - Machine Learning API:
      - Model Registry:
        - Model: generated/model-registry/model_api.md
        - Model Registry: generated/model-registry/model_registry_api.md
        - Model Schema: generated/model-registry/model_schema_api.md
      - Model Serving:
        - Deployment: generated/model-serving/deployment_api.md
        - Deployment state: generated/model-serving/predictor_state_api.md
        - Deployment state condition: generated/model-serving/predictor_state_condition_api.md
        - Inference Batcher: generated/model-serving/inference_batcher_api.md
        - Inference Logger: generated/model-serving/inference_logger_api.md
        - Model Serving: generated/model-serving/model_serving_api.md
        - Predictor: generated/model-serving/predictor_api.md
        - Resources: generated/model-serving/resources_api.md
        - Transformer: generated/model-serving/transformer_api.md
    # Added to allow navigation using the side drawer
    - Feature Store JavaDoc: https://docs.hopsworks.ai/hopsworks-api/latest/javadoc
    - Contributing: CONTRIBUTING.md
  - Community ↗: https://community.hopsworks.ai/

theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/images/favicon.ico
  logo: assets/images/hops-logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: "Roboto"
    code: "IBM Plex Mono"
  palette:
    accent: teal
    scheme: hopsworks
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes


extra:
  analytics:
    provider: google
    property: G-64FEEXPSDN
  generator: false
  version:
    - provider: mike
    - default: latest
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hopsworks
    - icon: fontawesome/brands/github
      link: https://github.com/logicalclocks/hopsworks
    - icon: fontawesome/brands/discourse
      link: https://community.hopsworks.ai/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/hopsworks/

extra_css:
  - css/custom.css
  - css/version-select.css
  - css/dropdown.css
  - css/marctech.css

extra_javascript:
  - js/version-select.js
  - js/inject-api-links.js
  - js/dropdown.js

plugins:
  - search
  - minify:
        minify_html: true
        minify_css: true
        minify_js: true
  - mike:
        canonical_version: latest

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - attr_list
  - md_in_html
  - toc:
      permalink: "#"
  - pymdownx.tasklist:
      custom_checkbox: true
  - markdown_include.include:
      base_path: docs
