name: mkdocs-release

on:
  push:
    branches:
    - branch-*
    - main

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger documentation rebuild
        run: |
          curl -XPOST -H "Authorization: Bearer ${{ secrets.ACCESS_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d "{\"event_type\": \"trigger-rebuild\", \"client_payload\": {\"branch\": \"${GITHUB_REF#refs/heads/}\"}}" \
            https://api.github.com/repos/logicalclocks/logicalclocks.github.io/dispatches
