name: mkdocs-test

on: pull_request

jobs:
  test-docs-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the API repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout the docs repo
        uses: actions/checkout@v4
        with:
          repository: logicalclocks/logicalclocks.github.io
          ref: ${{ github.base_ref }}
          fetch-depth: 0
          path: logicalclocks.github.io

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('java/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: "8"
          distribution: "adopt"

      - name: Build javadoc documentation
        working-directory: java
        run: mvn clean install javadoc:javadoc javadoc:aggregate -DskipTests && cp -r target/site/apidocs ../logicalclocks.github.io/docs/javadoc

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          working-directory: python

      - name: Install Python API dependencies
        run: uv sync --extra dev --project python

      - name: Install docs Python dependencies
        run: uv pip install -r logicalclocks.github.io/requirements-docs.txt

      - name: Install docs Ubuntu dependencies
        run: sudo apt update && sudo apt-get install -y libxml2-dev libxslt-dev

      - name: Check for broken links
        working-directory: logicalclocks.github.io
        run: |
          # run the server
          mkdocs serve 2>&1 &
          SERVER_PID=$!
          echo "mk server in PID $SERVER_PID"
          # Give enough time for deployment (2min max)
          for run in {1..120}; do
            if curl --output /dev/null --silent --head --fail http://127.0.0.1:8000/; then
              break
            fi
            sleep 1
          done
          echo "Launching linkchecker"
          # Ignore dejavu.css for now, it is a JDK bug.
          linkchecker --no-warnings --no-status http://127.0.0.1:8000/ --ignore-url http://127.0.0.1:8000/javadoc/resources/fonts/dejavu.css

          # If ok just kill the server
          kill -9 $SERVER_PID

      - name: Setup git for mike
        run: |
          git config --global user.name Mike
          git config --global user.email mike@docs.hopsworks.ai

      - name: Generate the docs with mike
        working-directory: logicalclocks.github.io
        run: mike deploy test-version
